body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#ffffff, #ffffff);
}

h1, h4 {
    font-family: sans-serif;
    color: rgb(0, 0, 0)
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

progress {
    width: 200px;
    height: 30px;
    background-color: #fff;
    margin: 2px;
    overflow: hidden;
    border: 1px;
    border-color: aliceblue;
}

progress:hover {
    color: black;
    cursor: pointer;
}

li:hover::after {
    content: "投资进度：" attr(value) " %";
    border-radius: 3px;
    color: black;
}

/* 表示总长度背景色 */

progress::-webkit-progress-bar {
    background-color: rgb(190, 190, 190);
}

/* 表示已完成进度背景色 
*/

@keyframes example {
    from {
        background: rgb(0, 124, 113);
    }
    to {
        background: rgb(0, 107, 149);
    }
}

progress::-webkit-progress-value {
    background: linear-gradient(to right, rgb(0, 110, 200), rgb(0, 152, 212));
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

p {
    width: 176px;
    font-size: 9px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    margin-top: -22px;
    margin-left: 2px;
}

.platform {
    width: 220px;
    height: 760px;
    margin: 1px;
    float: left;
}