html {
  height: inherit;
  zoom: 60%
}

.head {
  margin-top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(40, 69, 127);
}

.bgd {
  width: 100%;
  height: 400px;
  background: no-repeat;
}

.ps_word {
  margin-top: -20px;
}

.logo {
  width: 80px;
  max-height: 80%;
  margin-top: 10px;
  margin-left: 30px;
  float: left;
}

.word {
  width: 600px;
  height: 100px;
  vertical-align: middle;
  margin-left: 50px;
  float: left;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#004943, #002958);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.dashboard h1 {
  margin: 0 0 30px;
  padding: 0;
  margin-top: 5%;
  color: #fff;
  text-align: center;
}

.nav_bar {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.firstline {
  width: 100%;
}

.dropbtn {
  background-color: #243b55;
  color: white;
  min-width: 328px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  margin: auto;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 328px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown_content::after {
  background-attachment: fixed;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);
}

.dropdown_content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #008962;
}

.mainbody {
  margin: 0 auto;
  margin-top: 10px;
  z-index: 10;
}

.first_line {
  text-align: center;
  margin: 0 auto;
}

.first_bar {
  text-align: center;
  margin: 0 auto;
}

.logo0 {
  text-align: center;
  height: 140px;
  vertical-align: middle;
}

.first_bar div {
  margin: 0 auto;
  display: inline-block;
  color: white;
  height: 140px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.line {
  background-color: #116270;
  height: 140px;
  width: 240px;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.line:hover {
  background-color: #12958a;
}

.full_button {
  vertical-align: middle;
}

.logo1 {
  display: inline-block;
  float: left;
  vertical-align: middle;
  height: 140px;
}

.logo1_content {
  display: inline-block;
  float: left;
  vertical-align: middle;
  text-align: center;
}

.line1 {
  background-color: #000000;
  background-size: cover;
  display: block;
  border: none;
  height: 140px;
  cursor: pointer;
}

.line1:hover {
  background-color: #2c2c2c;
}

.text {
  color: white;
  font-size: 10px;
  margin: 0px;
  text-align: left;
}

.detail {
  color: white;
  font-size: 10px;
  margin: 0px;
  text-align: left;
}

.num {
  color: white;
  font-size: 20px;
  margin: 0px;
  text-align: left;
}

.i4comparison {
  margin: 5px auto;
  text-align: center;
}

.comparison1 {
  text-align: center;
  margin: 0 auto;
}

.constracting {
  color: aliceblue;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 1500px;
  height: 650px;
  margin: 0 auto;
}

.solicit {
  color: aliceblue;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 650px;
}

.comparison2 {
  text-align: center;
  margin: 0 auto;
}

.constracted {
  color: aliceblue;
  margin-top: 5px;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 400px;
}

.inviting {
  color: aliceblue;
  margin-top: 5px;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 400px;
}

.works {
  color: aliceblue;
  margin-top: 5px;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 400px;
}

.h2 {
  background-color: rgb(255, 169, 169);
  color: aliceblue;
  text-align: left;
}

.works p {
  float: left;
  font-size: 16px;
  width: 550px;
  margin-left: 20px;
  margin-top: 0;
}

.two_graph {
  float: left;
  text-align: center;
  margin: 0 auto;
}

.solicit .title {
  text-align: left;
}

.main_3 {
  text-align: center;
  display: inline-block;
}

.main_4 {
  text-align: center;
  display: inline-block;
}

.pie_1 {
  margin: 0 auto;
}

.text_0 {
  float: left;
  display: block;
  text-align: right;
}

.emph {
  font-size: 50px;
}

.content {
  text-align: center;
  display: inline-block;
  float: left;
}

.words {
  width: 300px;
}

.content_1 {
  text-align: center;
  display: inline-block;
  float: left;
}

.pie_c1 {
  margin-top: 30px;
  text-align: center;
}

.pie_c2 {
  margin-top: 30px;
  text-align: center;
}

.content_2 {
  text-align: center;
  display: inline-block;
  float: left;
}

.a_0 {
  opacity: 0.8;
}

.a_1 {
  opacity: 0.5;
  vertical-align: middle;
  margin-top: 50px;
}

.a_1:hover {
  -webkit-animation: scaleout 2.5s infinite ease-in-out;
  opacity: 0.8;
}

.a_2 {
  float: left;
  margin-top: 70px;
  margin-left: 450px;
}

.a_3 {
  float: left;
  margin-top: 125px;
  margin-left: 500px;
}

.a_4 {
  float: left;
  margin-top: 125px;
  margin-left: 350px;
}

.a_5 {
  float: left;
  margin-top: 165px;
  margin-left: 580px;
}

.a_6 {
  float: left;
  margin-top: 200px;
  margin-left: 200px;
}

.a_7 {
  float: left;
  margin-top: 290px;
  margin-left: 600px;
}

.a_8 {
  float: left;
  margin-top: 370px;
  margin-left: 640px;
}

.supbut {
  color: aliceblue;
  background-color: #243b55;
  font-size: 16px;
  border-radius: 10%;
  border: none;
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.supbut:hover {
  background-color: #12958a;
}

.invest {
  margin-top: 30px;
  display: inline-block;
  border-radius: 10%;
}

.image {
  margin-top: 30px;
  display: inline-block;
  border-radius: 10%;
}

.tech_products {
  text-align: center;
}

.product {
  color: aliceblue;
  text-align: left;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  width: 2010px;
  height: 450px;
  margin: 0 auto;
}

.jiebang {
  text-align: center;
}

.xiangmu {
  color: white;
  text-align: center;
}

.num_bang {
  color: white;
  text-align: center;
}

.meter {
  color: white;
  text-align: center;
}

.tail {
  height: 300px;
}
